.rgb {
  text-align: center;

  button {
    border: 1px solid #fff;
    cursor: pointer;
    height: 41px;
    margin: 10px 10px 0;
    padding: 0;
    width: 41px;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: #000;
      outline: none;
    }
  }

  .clicked {
    border-color: #000;
    cursor: default;
  }
}
