.rgb {
  text-align: center;

  button {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    margin: 10px 10px 0;
    padding: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .clicked {
    border: 1px solid #000;
  }
}
